.slider-wrapper {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  /* The total width is twice the number of images times the (image width + margin) */
  width: calc(70 * 2 * (150px + 20px));
  animation: scroll 60s linear infinite;
}

.slider img {
  height: auto;
  margin-right: 50px; /* Space between images */
}

@keyframes scroll {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(calc(-50%));
  }
}
