RewriteEngine on
RewriteRule ^robots\.txt$ /robots.php [L]



RewriteRule ^Home?$ homepage-3.php
RewriteRule ^stretch-ceiling-manufacturer-india?$ about-us-3.php
RewriteRule ^Projects?$ projects.php
RewriteRule ^Partners?$ about-our-team.php
RewriteRule ^Blogs?$ blog-full-left-sidebar-with-frame.php
RewriteRule ^SingleBlog?$ standard-post-type.php
RewriteRule ^SingleBlog2?$ standard-post-type2.php
RewriteRule ^SingleBlog3?$ standard-post-type3.php
RewriteRule ^SingleBlog4?$ standard-post-type4.php
RewriteRule ^SingleBlog5?$ standard-post-type5.php
RewriteRule ^SingleBlog6?$ standard-post-type6.php
RewriteRule ^SingleBlog7?$ standard-post-type7.php
RewriteRule ^SingleBlog8?$ standard-post-type8.php
RewriteRule ^SingleBlog11?$ standard-post-type11.php
RewriteRule ^SingleBlog12?$ standard-post-type12.php
RewriteRule ^SingleBlog13?$ standard-post-type13.php
RewriteRule ^SingleBlog14?$ standard-post-type14.php
RewriteRule ^SingleBlog15?$ standard-post-type15.php
RewriteRule ^SingleBlog16?$ standard-post-type16.php
RewriteRule ^SingleBlog17?$ standard-post-type17.php
RewriteRule ^SingleBlog18?$ standard-post-type18.php
RewriteRule ^SingleBlog19?$ standard-post-type19.php
RewriteRule ^SingleBlog20?$ standard-post-type20.php
RewriteRule ^SingleBlog21?$ standard-post-type21.php
RewriteRule ^ContactUs?$ contact-2.php
RewriteRule ^Downloads?$ downloads.php

RewriteRule ^3DWallGraphics?$ wallpaper.php

RewriteRule ^Translucent-Stretch-Ceilings?$ translucent.php
RewriteRule ^Printed-Stretch-Ceilings?$ printed.php
RewriteRule ^3D-Forms-Stretch-Ceilings?$ threed.php
RewriteRule ^RGB?$ RGB.php
RewriteRule ^Fabric-Light-Boxes?$ light-boxes.php
RewriteRule ^Lacquer-Ceilings?$ lacquer.php
RewriteRule ^Acoustic?$ acoustic.php
RewriteRule ^Printed-Lacquer-Ceilings?$ PrintedLacquer.php
RewriteRule ^ArtPerforated?$ artPerforated.php
RewriteRule ^Mirror?$ mirror.php
RewriteRule ^Metal?$ metal.php

RewriteRule ^Geometrical?$ Geometrical.php
RewriteRule ^ARC?$ ARC.php
RewriteRule ^Curved?$ curved.php
RewriteRule ^Surface?$ surface.php
RewriteRule ^Outward-Inward?$ outward-inward.php

RewriteRule ^StretchCeiling?$ stretch-ceiling.php
RewriteRule ^Warranty?$ warranty.php
RewriteRule ^Boxing?$ boxing.php
RewriteRule ^LED?$ led.php
RewriteRule ^Drive-Controllers?$ drivecontrollers.php
RewriteRule ^Stretch-Fabric?$ stretch-fabric.php
RewriteRule ^Profiles?$ profiles.php

RewriteRule ^Project-Details?$ project-details.php
RewriteRule ^Single-Project?$ single-projects-detail.php







